<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.book.dao.UserMapper">

    <!-- insert user -->
    <insert id="insert" parameterType="com.example.book.entiy.User">
        INSERT INTO USER(ID,USERNAME,PASSWORD,AGE) VALUES(#{id},#{username},#{password},#{age});
    </insert>

    <!-- update user -->
    <update id="edit" parameterType="com.example.book.entiy.User">
        UPDATE USER SET USERNAME=#{name} , PASSWORD=#{password}  WHERE ID=#{id}
    </update>

    <!-- find user -->
    <select id="findAll" resultType="com.example.book.entiy.User">
        SELECT ID,name,password FROM USER
    </select>

    <!--查询对象通过id-->
    <select id="getUserById" resultType="com.example.book.entiy.User" parameterType="com.example.book.entiy.User">
        select id,name,password from user where name=#{name} and password=#{password}
    </select>
    <!-- delete user -->
    <delete id="delete" parameterType="int">
        DELETE FROM USER WHERE ID=#{0}
    </delete>
</mapper>